.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  text-align: left;
  padding: 5px;
  width: 20%;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  text-align: left;
  background-color: #FF5A5F;
  color: white;
}

.detailed_pet_flex_box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-style: solid;
  width: 625px;
  padding: 20px;
}


.detailed_pet_flex_entity {
  display: flex;
  flex-direction: column;
}

.error-txt {
  color: red;
}

.bigTextBox{
    width:250px;
}

.blue-button{
  background-color: blue;
  color: white;
  box-shadow: 5px 10px black;
  width: 150px;
}

.green-button{
  background-color: green;
  color: white;
  box-shadow: 5px 10px black;
  width: 150px;
}

.primary-link{
  text-align: right;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.shiftleft {
  margin-left: 15px;
}

.topspace{
  margin: 20px;
}